<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/partials :: head"/>
    <title>Ads Page</title>
</head>
<body>
<nav th:replace="partials/partials :: navbar"/>

<div class="container">
    <h2>Ad List</h2>
    <div th:each="ad : ${ads}">
        <form action="/posts/index" method="post">
            <input type="hidden" name="id" value="${ad.id}"/>
            <p style="color: firebrick; font-weight: bold;" th:text="${ad.title}"></p>
            <p th:text="${ad.description}"></p>

        </form>
    </div>
    <div id="postList"></div>
</div>

<div th:replace="partials/partials :: footer"/>
</body>
</html>