<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/partials :: head"/>
<title>My Posts</title>
</head>
<body>

<!-- Navbar -->
<nav th:replace="partials/partials :: navbar"/>

<!-- Modals -->
<div th:replace="partials/partials :: allModals"></div>

<div class="container">
    <h1 class="my-posts">My Posts</h1>
    <!-- Button Create Modal -->
    <button type="button" class="btn btn-warning createButton" name="create" data-toggle="modal"
            data-target="#createModal">
        Create New
    </button>

    <!-- All User-submitted Posts -->
    <div class="card-deck">
        <div class="card mb-4" th:each="post : ${allPosts}">
            <div class="card-body">
                <h3 class="card-title" th:text="${post.title}"></h3>
                <button type="button" class="btn btn-outline-info" th:text="${post.category}"></button>
                <p class="card-text text-wrap" th:text="${post.description}"></p>
                <!-- Button Edit Modal -->
                <div class="text-center mt-5">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal"
                            th:data-id="${post.id}" th:data-title="${post.title}"
                            th:data-description="${post.description}"
                            th:data-post="${post}">
                        Edit
                    </button>
                    <!-- Button Delete Modal-->
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                            th:data-id="${post.id}">
                        Delete
                    </button>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted">Submitted <span th:text="${post.createDate}"></span></p>
                <p class="text-muted">Updated <span th:text="${post.modifyDate}"></span></p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="partials/partials :: footer"/>

</body>
</html>