<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ... -->
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.

    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
    Email: <span th:text="${#authentication.principal.email}"/>
</div>

<head th:replace="partials/partials :: head"/>
<title>My Posts</title>
</head>
<body>

<!-- Navbar -->
<nav th:replace="partials/partials :: navbar"/>
<!-- Modals -->
<div th:replace="partials/partials :: allModals"></div>

<div class="container">

    <h1 class="title">All Posts</h1>
    <!-- Button Create Modal -->
    <button type="button" class="btn btn-warning createButton" name="create" data-toggle="modal"
            data-target="#createModal">
        Create New
    </button>

    <!-- all DB Posts -->
    <div th:each="post : ${allPosts}">
        <h2 style="color: firebrick; font-weight: bold;" th:text="${post.title}"></h2>
        <h4 th:text="${post.description}"></h4>

        <!-- Button Edit Modal -->
        <button type="button" class="btn btn-m btn-primary" data-toggle="modal" data-target="#editModal"
                th:data-id="${post.id}" th:data-title="${post.title}" th:data-description="${post.description}" th:data-post="${post}">
            Edit
        </button>

        <!-- Button Delete Modal-->
        <button class="btn btn-m btn-danger" data-toggle="modal" data-target="#deleteModal" th:data-id="${post.id}">
            Delete
        </button>
    </div>

</div>

<!-- Footer -->
<div th:replace="partials/partials :: footer"/>
</body>
</html>