#subtext {
    font-style: italic;
    color: #8c8c8c;
}

div.modal-footer {
    text-align: center;
}

.title {
    margin-bottom: 40px;
}

.my-posts {
    display: inline-block;
}

.createButton {
    margin-left: 10px;
    margin-top: -15px;
}

.userNav {
    margin-right: 20px;
    margin-top: 8px;
}

.dropdown-menu {
    min-width: 250px;
    padding: 5px 10px;
}

#postUsername {
    font-size: 1.1em;
    color: rebeccapurple;
}

.blog-categories {
    padding-top: 20px;
}