<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Secret Page - Roll the Dice!</title>
    <!-- Header Information -->
    <div th:replace="partials/partials :: head"/>
</head>
<body>

<!-- Navbar -->
<nav th:replace="partials/partials :: navbar"/>

<div class="container">
    <h1 class="">The Secret Dice Roll Game</h1>
    <h2 class="">Click a link below, try to guess the dice roll!</h2>

    <!-- buttons for links to guess dice-roll -->
    <div class="">
        <button type="button" class="btn btn-primary btn-lg"><a href="/roll-dice/1">1</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a href="/roll-dice/2">2</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a href="/roll-dice/3">3</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a href="/roll-dice/4">4</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a href="/roll-dice/5">5</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a href="/roll-dice/6">6</a></button>
    </div>

    <h3 class="" th:text="${response}"></h3>
</div>

<!-- JS scripts -->
<div th:replace="partials/partials :: footer"/>
</body>
</html>